
<div id="sender" data-user-id="<%= current_user.id %>">
  <div class="messages-container" id="message-<%= message.id %>">
    <small class="chat-datetime-in"><%= message.created_at.strftime("%a %b %e  |  %l:%M%p") %></small>
    <div id="last-message">
        <% if message.user.photo.attached? %>
          <%= cl_image_tag(message.user.photo.key, :class => "avatar", id: "last-avatar") %>
        <% else %>
          <%= cl_image_tag (message.user.cl_img_tag), gravity: :face, class: "avatar", id: "last-avatar" %>
        <% end %>
      <!-- <span class="ml-2"><%= message.user.first_name %> <%= message.user.last_name %></span> -->
     <div >
        <p><%= message.content %></p>
     </div>
    </div>
  </div>
</div>
