<header>
  <div class="overlay"></div>
  <%= cl_image_tag(@office.banner_url, :class => "banner-image")%>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-4 font-weight-bold"><%= @office.name %></h1>
        </div>
      </div>
    </div>
</header>

<div class="container">
    <h2 class="my-5">Overview</h2>
    <!-- About -->
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <p class="heading-flat">About</p>
      </div>
      <div class="col-12 col-lg-9">
        <p><%= @office.description %></p>
        <hr>  
      </div>
    </div>
    <!-- Website -->
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <p class="heading-flat">Website</p>
      </div>
      <div class="col-12 col-lg-9 mb-3">
        <%= link_to url_for(@office.url), :style => 'color: blue', :target => '_blank' do %>
          <%= @office.url %>
        <% end %>
        <hr>
      </div>
    </div>
    <!-- Ratings -->
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <p class="heading-flat">Ratings</p>
      </div>
      <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-6 col-lg-2">
              <p>CULTURE</p>
              <p>SALARY</p>
              <p>ARCHITECTURE</p>
            </div>
            <div class="col-6 col-lg-2">
              <p>
                <% @culture_average.times do %>
                  <i class="fas fa-heart" style="color: #e53e3e"></i>
                <% end %>
                <% (5-@culture_average).times do %>
                  <i class="fas fa-heart" style="color: lightgray"></i>
                <% end %>
              </p>
              <p>
                <% @salary_average.times do %>
                  <i class="fas fa-euro-sign" style="color: #90be6d"></i>
                <% end %>
                <% (5-@salary_average).times do %>
                  <i class="fas fa-euro-sign" style="color: lightgray"></i>
                <% end %>
              </p>
              <p>
                <% @architecture_average.times do %>
                  <i class="fas fa-star" style="color: #e9c46a"></i>
                <% end %>
                <% (5-@architecture_average).times do %>
                  <i class="fas fa-star" style="color: lightgray"></i>
                <% end %>
              </p>
            </div>
        </div>
        <hr>
      </div>
    </div>
    <!-- Location -->
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <p class="heading-flat mb-3">Location</p>
      </div>
      <div class="col-12 col-lg-9">
        <div id="map"
          style="width: 100%; height: 300px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <p class='mt-3'><i class="fas fa-map-marker-alt" style="color: #E53E3E"></i> <%= @office.location %></p>
        <hr>
      </div>
    </div>
    <!-- Openings -->
    <% unless @office.openings.empty? %>
      <div class="row mb-5">
        <div class="col-12 col-lg-3">
          <p class="heading-flat mb-3">Openings</p>
        </div>
        <div class="col-12 col-lg-9">
          <ul class="list-group list-group-flush">
            <% @office.openings.each do |opening| %>
              <li class="list-group-item">
                <%= link_to opening_path(opening) do %>
                  <div class="card-opening">
                    <div class="card-office-infos">
                      <h2><%= opening.job_position %></h2>
                      <p><i class="fas fa-calendar-check" style="color: gray"></i> <%= opening.date.strftime('%d.%m.%Y') %></p>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end%>
    <hr>
    <!-- Projects -->
    <div class="row">
        <h2 class="col-12 mb-3">Projects</h2>
        <!-- <div class="mb-5" > -->
            <% @office.office_projects.each do |project| %>
              <div class="col-12 col-lg-3 overlay-container mb-3">
                <%= image_tag(project.project_img_url, :class => 'photos-projects') %>
                <div class="overlay-text mx-3"><%= project.project_name %></div>
              </div>
            <% end %>
        <!-- </div> -->
    </div>
    <hr>
    <!-- Members and Comments -->
    <div class="row">
      <!-- Members -->
      <div class="col-12 col-lg-6">
        <h2 class="mb-3">Members <span class="badge-number"><%= @office.users.size %></span></h2>
        <div class="row mt-3">
          <% @office.users.each do |user| %>
            <div class="col-4 col-lg-3 text-center m-3">
              <%= link_to user_path(user) do %>
                <%= cl_image_tag(user.cl_img_tag, :class => 'avatar-large mb-3') %>
              <% end %>
              <p><%= user.first_name %> <%= user.last_name %></p>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Comments -->
      <!-- Past -->
      <div class="col-12 col-lg-6">
            <h2 class="mb-3">Comments <span class="badge-number"><%= @office.comments.size %></span></h2>
        <% @office.comments.order(date: :desc).each do |comment| %>
          <div class="card-comment mb-3" id="comments-<%= comment.id %>">
            <% if comment.user.photo.attached? %>
            <%= cl_image_tag(comment.user.photo.key, :class => "avatar-large") %>
            <% else %>
            <%= cl_image_tag(comment.user.cl_img_tag, :class => 'avatar-large') %>
            <% end %>
            <div class="card-comment-infos">
            <p><%= comment.date.strftime("%H:%M %d.%m.%Y") %> </p>
            <p><%= comment.content %></p>
            <p> User: <%= comment.user.first_name %> <%= comment.user.last_name %></p>
            </div>
          </div>
        <% end %>
        <!-- New -->
        <% if user_signed_in? %>
          <div class = "form" id= "comment-office" >
            <%= form_tag office_office_comment_path(@office, url: (office_path([@office], anchor:'comments'))), method: :post do |f| %>
                <%= text_field_tag :content %>
                <%= submit_tag 'Post', class: 'btn btn-flat' %>
            <% end %>
          </div>
          <% if flash[:validation]%>
            <div>
              <%= flash[:validation] %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <%# = link_to 'Back to all offices', offices_path, class: 'btn btn-flat mb-3' %>
</div>
