<!-- ***************  HEADER OFFICE  **************** -->
<% if @office.photo.attached?  %>
  <header class="banner">
    <div class="banner-overlay"></div>
      <%= cl_image_tag(@office.photo.key, :class => "banner-image") %>
      <div class="banner-container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-4 font-weight-bold"><%= @office.name %></h1>
          </div>
        </div>
      </div>
  </header>
<% elsif @office.banner_url %>
  <header class="banner">
    <div class="banner-overlay"></div>
      <%= cl_image_tag(@office.banner_url, :class => "banner-image") %>
      <div class="banner-container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-4 font-weight-bold"><%= @office.name %></h1>
          </div>
        </div>
      </div>
  </header>
<% end %>

<main class="container">
  <!-- ***************  OVERVIEW  **************** -->
  <header>
    <h5 class="corporate my-5"><span class="red">·ban</span>office</h5>
    <section class="row">
      <div class="col-lg-9">
        <h1 class="font-weight-bold"><%= @office.name %></h1>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-call w-100">
          <%= link_to 'Edit Office', edit_office_path(@office) %>
        </button>
      </div>
    </section>
  </header>

  <section class="row my-5">
    <!-- ***************  ABOUT  **************** -->
    <section class="col-lg-6 mb-5">
      <h2 class="mb-3">About</h2>
      <% if @office.description %>
        <p><%= @office.description %></p>
      <% end %>
      <%= link_to url_for("http://#{@office.url}"), :target => '_blank' do %>
        <p class="link mb-0"><i class="fas fa-link fa-lg red mr-2"></i> <%= @office.url %></p>
      <% end %>
    </section>

    <!-- ***************  RATINGS  **************** -->
    <section class="col-lg-6 mb-5">
      <h2 class="mb-3">Ratings</h2>
      <div class="row">
        <div class="col-6">
          <p>CULTURE</p>
          <p>SALARY</p>
          <p>ARCHITECTURE</p>
        </div>
        <div class="col-6">
          <p>
            <% @culture_average.times do %>
              <i class="fas fa-heart red"></i>
            <% end %>
            <% (5-@culture_average).times do %>
              <i class="fas fa-heart light-gray"></i>
            <% end %>
          </p>
          <p>
            <% @salary_average.times do %>
              <i class="fas fa-euro-sign green"></i>
            <% end %>
            <% (5-@salary_average).times do %>
              <i class="fas fa-euro-sign light-gray"></i>
            <% end %>
          </p>
          <p>
            <% @architecture_average.times do %>
              <i class="fas fa-star yellow"></i>
            <% end %>
            <% (5-@architecture_average).times do %>
              <i class="fas fa-star light-gray"></i>
            <% end %>
          </p>
        </div>
      </div>
    </section>

    <!-- ***************  LOCATION  **************** -->
    <section class="col-lg-6">
      <h2 class="mb-3">Location</h2>
      <p><i class="fas fa-map-marker-alt red"></i> <%= @office.location %></p>
      <div id="map"
        style="width: 100%; height: 350px; position: -webkit-sticky; position: sticky; top: 90px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </section>

    <!-- ***************  OPENINGS  **************** -->
    <section class="col-lg-6 mt-5 mt-lg-0">
      <h2 class="mb-3">Openings</h2>
      <% unless @office.openings.empty? %>
        <p>Check these job openings: </p>
        <% @office.openings.each do |opening| %>
          <%= link_to opening_path(opening) do %>
            <%= render "shared/card-opening", opening_within: opening %>
          <% end %>
        <% end %>
      <% else %>
        <p>Check office's webpage for more information.</p>
      <% end %>
    </section>

  </section>
  <hr>

  <!-- ***************  PROJECTS  **************** -->
  <section class="row my-5">
    <h2 class="col-12 mb-3">Projects</h2>
    <% @office.office_projects.each do |project| %>
      <div class="col-12 col-lg-3 overlay-container mb-3">
        <%= image_tag(project.project_img_url, :class => 'photos-gallery') %>
        <div class="overlay-text mx-3"><%= project.project_name %></div>
      </div>
    <% end %>
  </section>
  <hr>

  <!-- ***************  MEMBERS / COMMENTS  **************** -->
  <section class="row my-5">
    <!-- ***************  MEMBERS  **************** -->
    <section class="col-lg-6">
      <h2 class="mb-3">Members <span class="badge-number"><%= @office.users.size %></span></h2>
      <div class="row mt-3">
        <% @office.users.each do |user| %>
          <div class="col-6 col-lg-4 text-center mb-3">
            <%= link_to user_path(user) do %>
              <%= cl_image_tag(user.cl_img_tag, :class => 'avatar-large mb-3') %>
            <% end %>
            <p><%= user.first_name %> <%= user.last_name %></p>
          </div>
        <% end %>
      </div>
    </section>

    <!-- ***************  COMMENTS  **************** -->
    <section class="col-lg-6">
      <h2 class="mb-3">Comments <span class="badge-number"><%= @office.comments.size %></span></h2>
      <% @office.comments.order(date: :desc).each do |comment| %>
        <div class="card-comment mb-3 px-3" id="comments-<%= comment.id %>">
          <% if comment.user.photo.attached? %>
            <%= cl_image_tag(comment.user.photo.key, :class => "avatar-large") %>
          <% else %>
            <%= cl_image_tag(comment.user.cl_img_tag, :class => 'avatar-large') %>
          <% end %>
          <div class="card-infos">
            <p><%= comment.date.strftime("%H:%M | %d.%m.%Y") %> </p>
            <h6><%= comment.content %></h6>
            <p>Posted by: <%= comment.user.first_name %> <%= comment.user.last_name %></p>
          </div>
        </div>
      <% end %>

      <% if user_signed_in? %> <!-- FORM -->
        <div class = "form" id= "comment-office" >
          <%= form_tag office_office_comment_path(@office, url: (office_path([@office], anchor:'comments'))), method: :post do |f| %>
              <%= text_field_tag :content %>
              <%= submit_tag 'Post', class: 'btn btn-upload' %>
          <% end %>
        </div>
        <% if flash[:validation] %>
          <div>
            <%= flash[:validation] %>
          </div>
        <% end %>
      <% end %>
    </section>

  </section>
</main>
