<div class="container">
  <div class="row mt-5" id="register-card">
    <div class="col-md-12">
      <div class="row">
        <div id="right-form" class="col-md-6">
          <div class="row">
            <div class="col-md-12 text-right">
              <h1>Update your profile</h1>
            </div>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "First Name" }%>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "Last Name" }%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :email,
                required: true,

                input_html: { autocomplete: "email" }%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :password,
                                hint: "leave it blank if you don't want to change it",
                                required: false,
                                input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :password_confirmation,
                                required: false,
                                input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :current_password,
                                hint: "we need your current password to confirm your changes",
                                required: true,
                                input_html: { autocomplete: "current-password" } %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :description,

                input_html: { class: "input-size", autocomplete: "Description" }%>
              </div>
            </div>
            <div class="img-upload d-flex align-items-center">
              <i style="font-size: 35px;" class="far fa-user-circle"></i><i style="font-size: 20px; padding: 5px;" class="fas fa-plus"></i>
            <%= f.input :photo, as: :file,
            required: true, label: false %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", :class => 'btn btn-message mb-3', :style => 'width: -webkit-fill-available; height: 50px; margin: 0;' %>
            <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger mb-3', :style => 'width: -webkit-fill-available; margin: 0;' %>
          </div>
          <% end %>
        </div>
        <div id="left-image" class="col-md-6 text-left">
          <h1>·ban</h1>
              <img alt="logo" src="https://res.cloudinary.com/db5jh0zwo/image/upload/c_scale,w_130/v1/logo/logo1" class="rounded-circle" />
        </div>
      </div>
    </div>
  </div>
</div>
