<main class="container min-vh-100">
  <!-- ***************  USER EDIT FORM  **************** -->
  <section class="row form-card my-5">
     <!-- ***************  FORM ENTRIES  **************** -->
    <section class="col-12 form-infos">
      <h1 class="corporate text-center"><span class="red">·ban</span>member edit·</h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="col-lg-6"> 
            <div class="text-center mb-4 mt-4 mt-lg-0">
              <% if @user.photo.attached? %>
                <%= cl_image_tag(@user.photo.key, gravity: :face, :class => "avatar-xl")  %>
              <% elsif @user.cl_img_tag  %>
                <%= cl_image_tag(@user.cl_img_tag, gravity: :face, :class => "avatar-xl") %>
              <% else  %>
                <%= cl_image_tag("logo/logo1-gray", gravity: :face, :class => "avatar-xl") %>
              <% end %>
            </div>
            <%= f.input :description,
                        input_html: { style: "height: 300px;", autocomplete: "Description" },
                        label: "Tell us something about you 🧡" %> <!-- DESCRIPTION -->
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6"><!-- FIRST NAME -->
                <%= f.input :first_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "First Name" } %> 
              </div>
              <div class="col-lg-6"> <!-- LAST NAME -->
                <%= f.input :last_name,
                            required: true,
                            input_html: { autocomplete: "Last Name" } %>
              </div>
            </div>
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" } %> <!-- EMAIL -->
            <div class="row">
              <div class="col-lg-6">
                <%= f.input :password,
                            hint: "Only if you want to change your password",
                            required: false,
                            input_html: { autocomplete: "new-password" },
                            label: "New Password" %> <!-- RESET PASSWORD -->
              </div>
              <div class="col-lg-6">
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %> <!-- CONFIRM PASSWORD -->
              </div>
            </div>
            <%= f.input :photo, as: :file,
                        label_html: { class: "label-user" },
                        label: true %> <!-- PHOTO USER -->
            <%= f.input :portfolio_photos, as: :file, 
                        input_html: { multiple: true },
                        label_html: { class: "label-projects" },
                        label: true %> <!-- PHOTO PORTFOLIO -->
            <%= f.input :current_password,
                      hint: "Type your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %> <!-- AUTHENTICATION PASSWORD -->
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6"> <!-- DELETE -->
            <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure that you want do delete your ban account?" }, method: :delete, :class => 'btn btn-delete w-100 mb-3 mb-lg-0' %>
          </div>
          <div class="col-lg-6 "> <!-- SUBMIT -->
            <%= f.button :submit, "Update", :class => 'btn btn-call', :style => 'width: 100%' %>
          </div>
        </div>
      <% end %>
    </section>
  </section>
</main>
