<main class="container min-vh-100">
  <!-- ***************  CHATROOM  **************** -->
  <section class="row chatroom-card justify-content-center my-5">
    <!-- ***************  SIDEBAR  **************** -->
    <section class="col-3 border-right">
      <div class="border-bottom">
        <h3 class="corporate text-center py-3 mb-0"><span class="red">ban</span><span class="d-none d-md-inline-block">chat</span></h3>
      </div>
      <div id="chat-active">
        <% @chatrooms.each do |chatroom| %>
          <% user_id = chatroom.user_two.id if chatroom.user_one == current_user %>
          <% user_id = chatroom.user_one.id if chatroom.user_two == current_user %>
          <%= link_to chatroom_path(chatroom), id: "user-#{user_id}", class: "list-group-item #{'active' if chatroom == @chatroom}" do %>
            <!-- ***************  CHATROOM CARD  **************** -->
            <section class="chat-card">
              <%# if the user is the current user, we are checking if he has a photo, if not we display the one that is already given; else we do the same for the other user but we are checking it on the chats "summary"%>
              <% if chatroom.user_one == current_user %>
                <%= image_tag(image_path_selector(chatroom.user_two.photo, chatroom.user_two.cl_img_tag), class: 'avatar') %>
              <% else %>
                <%= image_tag(image_path_selector(chatroom.user_one.photo, chatroom.user_one.cl_img_tag), class: 'avatar') %>
              <% end %>
              <div class="d-none d-md-block ml-md-3">
                <% if chatroom.user_one == current_user %>
                  <h6 class="my-0"><%= chatroom.user_two.first_name.capitalize %> <%= chatroom.user_two.last_name.capitalize %></h6>
                <% else %>
                  <h6 class="my-0"><%= chatroom.user_one.first_name.capitalize %> <%= chatroom.user_one.last_name.capitalize %></h6>
                <% end %>
                <% if chatroom.messages.empty? %>
                  <p class="my-0"></p>
                <% else %>
                  <p class="my-0"><%= chatroom.messages.last.content %></p>
                <% end %>
              </div>
            </section>
          <% end %>
        <% end %>
      </div>
    </section>
    <!-- ***************  CONTENT  **************** -->
    <div class="col-9 text-center my-auto" style="padding: 0px">
      <p>You don't have any chatrooms active.</p>
      <p>Go to a member's dashboard to start a converstation. 😃</p>
    </div>
  </section>
</main>
