<main class="container min-vh-100" id="chatroom">
  <!-- ***************  CHATROOM  **************** -->
  <section class="row chatroom-card justify-content-center my-5">
    <!-- ***************  SIDEBAR  **************** -->
    <section class="col-3 border-right">
      <div class="border-bottom">
        <h3 class="corporate text-center py-3 mb-0"><span class="red">ban</span><span class="d-none d-md-inline-block">chat</span></h3>
      </div>
      <div id="chat-active">
        <% @chatrooms.each do |chatroom| %>
          <% user_id = chatroom.user_two.id if chatroom.user_one == current_user %>
          <% user_id = chatroom.user_one.id if chatroom.user_two == current_user %>
          <%= link_to chatroom_path(chatroom), id: "user-#{user_id}", class: "list-group-item #{'active' if chatroom == @chatroom}" do %>
            <!-- ***************  CHATROOM CARD  **************** -->
            <section class="chat-card">
              <%# if the user is the current user, we are checking if he has a photo, if not we display the one that is already given; else we do the same for the other user but we are checking it on the chats "summary"%>
              <% if chatroom.user_one == current_user %>
                <%= image_tag(image_path_selector(chatroom.user_two.photo, chatroom.user_two.cl_img_tag), class: 'avatar') %>
              <% else %>
                <%= image_tag(image_path_selector(chatroom.user_one.photo, chatroom.user_one.cl_img_tag), class: 'avatar') %>
              <% end %>
              <div class="d-none d-md-block ml-md-3">
                <% if chatroom.user_one == current_user %>
                  <h6 class="my-0"><%= chatroom.user_two.first_name.capitalize %> <%= chatroom.user_two.last_name.capitalize %></h6>
                <% else %>
                  <h6 class="my-0"><%= chatroom.user_one.first_name.capitalize %> <%= chatroom.user_one.last_name.capitalize %></h6>
                <% end %>
                <% if chatroom.messages.empty? %>
                  <p class="my-0"></p>
                <% else %>
                  <p class="my-0"><%= chatroom.messages.last.content %></p>
                <% end %>
              </div>
            </section>
          <% end %>
        <% end %>
      </div>
    </section>
    <!-- ***************  CONTENT  **************** -->
    <section class="col-9 px-0">
      <div  class="border-bottom" id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <% if current_user == message.user %>
            <div id="message-<%= message.id %>">
              <small class="chat-datetime-out"><%= message.created_at.strftime("%a %b %e  |  %l:%M%p") %></small>
              <div class="message-text-out">
                <p><%= message.content %></p>
              </div>
            </div>
          <% else %>
            <div id="message-<%= message.id %>">
              <small class="chat-datetime-in"><%= message.created_at.strftime("%a %b %e  |  %l:%M%p") %></small>
              <div class="">
                <!-- 
                <% if message.user.photo.attached? %>
                  <%= cl_image_tag(message.user.photo.key, :class => "avatar")%>
                <% else %>
                  <%= cl_image_tag (message.user.cl_img_tag), gravity: :face, class: "avatar" %>
                <% end %>
                -->
                <!-- <span class="ml-2"><%= message.user.first_name %> <%= message.user.last_name %></span> -->
                <div class="message-text-in">
                  <p><%= message.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <section class="row p-3">
          <div class="col-12 col-lg-9">
            <%= f.input :content, input_html: { class: "w-100"}, label: false, placeholder: "Write a message..." %>
          </div>
          <div class="col-12 col-lg-3">
            <%= f.submit 'Send', :class => 'btn btn-upload w-100' %>
          </div>
        </section>
      <% end %>
    </section>
  </section>
</main>

