<div class="container mt-5 mb-5" style="border: 1px solid #000000">
  <div class="row justify-content-center">
   <div class="col-4" style="padding: 0px">
    <div class="convo-container">
      <div class="messages-hd">
        <h3>Chats</h3>
      </div>
        <div class="inbox-chat">
          <% @chatrooms.each do |chatroom| %>
            <%= link_to chatroom_path(chatroom), class: "list-group-item list-group-item-light #{'active' if chatroom == @chatroom}" do %>
              <div class="chat-card">
                <% other_user = chatroom.users.where.not(id: current_user.id).first %>
                <% if other_user.photo.attached? %>
                  <%= cl_image_tag(other_user.photo.key)%>
                <% else %>
                  <%= cl_image_tag "users/user1", gravity: :face, class: "avatar-large" %>
                <% end %>
                <h6><%= other_user.first_name %> <%= other_user.last_name %></h6>
              </div>
                <p class="message-text-inbox"> <%= chatroom.messages.last.content %></p>
            <% end %>
          <% end %>
      </div>
    </div>
   </div>


  <div class="col-8">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
        <div class="messages-container" id="message-<%= message.id %>">
            <div class="message-avatar">
              <% if message.user.photo.attached? %>
                  <%= cl_image_tag(message.user.photo.key)%>
                <% else %>
                  <%= cl_image_tag "users/user1", gravity: :face, class: "avatar-chat" %>
                <% end %>
              <span><%= message.user.first_name %> <%= message.user.last_name %></span>
            </div>
            <div class="message-text">
              <p><%= message.content %></p>
              <small class="chat-datetime"><%= message.created_at.strftime("%a %b %e  |  %l:%M%p") %></small>
            </div>
          </div>
        <% end %>
    </div>

        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Write a message..." %>
        <%= f.submit 'Send', :class => 'btn-flat' %>
      <% end %>
    </div>
  </div>
 </div>
</div>

