<main class="container min-vh-100">
	<!-- ***************  HEADER COMMUNITY  **************** -->
	<header class="text-center my-5">
		<h1 class="font-weight-bold">Community</h1>
		<p>Check out our amazing Members!</p>
	</header>

	<!-- ***************  SEARCHBAR  **************** -->
	<%= form_tag users_path, method: :get, class: "searchbar" do %>
		<section class="row justify-content-center my-5">
			<div class="col-lg-9 mb-3">
				<%= text_field_tag :query,
					params[:query],
					id: "query",
					placeholder: "Find a member"
				%>
			</div>
			<div class="col-lg-3 mb-3">
				<%= submit_tag "Search", class: "btn btn-call w-100" %>
			</div>
		</section>
	<% end %>

	<!-- ***************  USERS  **************** -->
	<section class="row">
		<% @users.each do |user| %>
			<div class="col-6 col-lg-3 text-center mb-5">
				<%= link_to user_path(user) do %>
					<%= image_tag(image_path_selector(user.photo, user.cl_img_tag), class: 'avatar-large mb-3') %>
				<% end %>
				<p><%= user.first_name %> <%= user.last_name %></p>
			</div>
		<% end %>
	</section>	
</main>