<div class="container">
  <h1 class="text-center my-5">Dashboard</h1>
  <div class="row mb-5">
    <div class="col-12 col-lg-6">
      <!-- About -->
      <h2 class="mb-5">Hi, I'm <%= @user.first_name %> <%= @user.last_name %>!</h2>
      <!-- Avatar -->
      <div class="text-center mb-3">
        <% if @user.photo.attached?  %> <!-- user has uploaded a profile pic -->
          <%= cl_image_tag(@user.photo.key, gravity: :face, :class => "avatar-large-user-showpage")  %>
        <% elsif @user.id <= 39  %> <!-- user is seeded -->
          <%= cl_image_tag(@user.cl_img_tag, gravity: :face, :class => "avatar-large-user-showpage") %>
        <% else  %> <!-- user didn't upload a profile picture, default logo shows up -->
          <%= cl_image_tag("logo/logo1", gravity: :face, :class => "avatar-large-user-showpage") %>
        <% end %>
      </div>
      <!-- Description -->
      <p><%= @user.description %></p>
      <!-- Message Button -->
      <div class="text-center my-5">
        <% if policy(Chatroom).create? %>
          <%= link_to "Let's chat!", user_chatrooms_path(@user), method: :post, class: "btn btn-call" %>
        <% end %>
      </div>
    </div>
    <!-- Experience -->
    <div class="col-12 col-lg-6">
      <h2 class="mb-3">Experience</h2>
      <% @user.experiences.each do |experience|  %>
        <%= render "shared/card-experience", experience_within: experience %>
      <% end %>
    </div>
  </div>
  <hr>
  <!-- Portfolio -->

  <h2 class="mb-3">Portfolio</h2>
    <div id="gallery" data-toggle="modal" data-target="#portfolioModal">
        <div class="row mb-5 mx-0">
          <!-- Portfolio Pictures -->
          <div data-target="#carouselExample" data-slide-to="0">
            <% if @user.portfolio_photos.attached?  %> <!-- user has uploaded a profile pic -->
              <div class="col-3">
                <% @user.portfolio_photos.each do |photo| %>
                  <%= cl_image_tag photo.key, :class => "photos-events"%>
                <% end %>
              </div>
            <% elsif @user.id <= 39  %> <!-- user is seeded -->
              <div>
              <% @user.seed_portfolio.each do |portfolio| %>
                <%= cl_image_tag(portfolio, :class => "photos-events") %>
              <% end %>
              </div>
            <% else  %> <!-- user didn't upload a profile picture, default logo shows up -->
              <% if policy(@user).edit? %>
                <%= simple_form_for(@user) do |f| %>
                  <%= f.input :portfolio_photos, as: :file, input_html: { multiple: true }%>
                  <%= f.submit %>
                <% end %>
              <% end %>
            <% end %>
          </div>  
        </div>  
  </div>
  <hr>

<!-- model for portolio with carousel-->
  <%= render "shared/portfolioModal" %>

  <!-- Members -->
  <div class="row mb-5">
    <h2 class="col-12 col-lg-12 mb-3">My Events</h2>
    <!-- Members Events -->
    <% unless @user.events.empty? %>
      <div class="col-12 col-lg-12 mb-5">
        <div class="row">
          <% @user.events.each do |event|  %>
            <div class='col-3'>
              <%= link_to event_path(event) do %>
                <%= render "shared/card-event-user-show", event_within: event %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- Members Posts -->
    <h2 class="col-12 col-lg-12 mb-3">My Posts</h2>
    <div class="col-12 col-lg-6">
      <ul class="list-group list-group-flush">
        <% @user.posts.each do |post|  %>
          <li class="list-group-item col-12 white-board">
            <%= link_to post_path(post) do %>
              <%= render "shared/card-post-user-show",  post_within: post %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%#= link_to 'Edit Dashboard', edit_user_registration_path, :class => 'btn btn-outline-danger mb-3' %>
</div>
