
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("users/userBanner1")%>);">
  <div class="container">
  <h1><%= @user.first_name %>  <%= @user.last_name %></h1>

  </div>
</div>

<dir class="container">


</dir>

<div class="container">
<!-- SEED TEST CODE -->
  <div class="mb-5">
    <div class="row">
      <!-- About -->
      <div class="col-3">
        <p class="heading-flat mb-3">About</p>
      </div>
      <div class="col-3">
        <!-- Avatar -->
        <% if @user.photo.attached?  %> <!-- user has uploaded a profile pic -->
        <%=   cl_image_tag(@user.photo.key , :transformation=>{:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"crop"})  %>
        <% elsif @user.id <= 30  %> <!-- user is seeded -->
        <%=   cl_image_tag(@user.cl_img_tag, :class => "avatar-large-user-showpage") %>
        <% else  %> <!-- user didn't upload a profile picture, default logo shows up -->
        <%=   cl_image_tag("logo/logo1", :class => "avatar-large-user-showpage") %>
        <% end %>
      </div>
      <div class="col-6">
        <!-- Description -->
        <p><%= @user.description %></p>
      </div>
    </div>
    <div class="row">
      <!-- Experience -->
      <div class="col-3">
        <p class="heading-flat mb-3">Experience</p>
      </div>
      <div class="col-9"  style="position: relative;">
        <% @user.experiences.each do |experience|  %>
        <%= render "shared/card-experience", experience_within: experience %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <!-- Portfolio -->
      <div class="col-3">
        <p class="heading-flat mb-3">Portfolio</p>
      </div>
      <div class="col-9">
        <% if @user.portfolio_photos.attached?  %> <!-- user has uploaded a profile pic -->
          <% @user.portfolio_photos.each do |photo| %>
            <%= cl_image_tag photo.key, :style => "height: 140px; width: 220px; margin: 10px;" %>
          <% end %>
        <% elsif @user.id <= 30  %> <!-- user is seeded -->
          <%=   cl_image_tag(@user.seed_portfolio, :style => "height: 140px; width: 220px; margin: 10px; margin-left: 0px;") %>
        <% else  %> <!-- user didn't upload a profile picture, default logo shows up -->

          <% if policy(@user).edit? %>
            <%= simple_form_for(@user) do |f| %>
              <%= f.input :portfolio_photos, as: :file, input_html: { multiple: true }%>
              <%= f.submit %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <!-- Members -->
      <div class="col-3">
        <p class="heading-flat mb-3">Activity</p>
      </div>

        <% @user.events.each do |event|  %>
        <div class="col-3">
        <%= render "shared/card-event-user-show", event_within: event %>
        </div>
        <% end %>
    </div>
    <div class="row">
        <% @user.posts.each do |post|  %>
        <div class="col-3">
        </div>
        <div class="col-9">
        <%= render "shared/card-post-user-show", post_within: post %>
        </div>
        <% end %>
    </div>
  </div>
<!-- SEED TEST CODE -->
</div>
