<div class="container min-vh-100">
  <header class="my-5">
    <h5 class="corporate text-center text-lg-left mb-3"><span class="red">·ban</span>dashboard</h5>
    <h1 class="font-weight-bold">Hi, I'm <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>!</h1>
  </header>
  <div class="row mb-5">
    <div class="col-12 col-lg-6">
      <!-- About -->
      <h2 class="mb-5">About</h2>
      <!-- Avatar -->
      <div class="text-center mb-3">
        <% if @user.photo.attached? %> <!-- user has uploaded a profile pic -->
          <%= cl_image_tag(@user.photo.key, gravity: :face, :class => "avatar-xl")  %>
        <% elsif @user.id <= 39  %> <!-- user is seeded -->
          <%= cl_image_tag(@user.cl_img_tag, gravity: :face, :class => "avatar-xl") %>
        <% else  %> <!-- user didn't upload a profile picture, default logo shows up -->
          <%= cl_image_tag("logo/logo1-gray", gravity: :face, :class => "avatar-xl") %>
        <% end %>
      </div>
      <!-- Description -->
      <p><%= @user.description %></p>
      <!-- Message Button -->
      <div class="text-center my-5">
        <% if policy(Chatroom).create? %>
          <%= link_to "Let's chat!", user_chatrooms_path(@user), method: :post, class: "btn btn-call" %>
        <% end %>
      </div>
    </div>
    <!-- Experience -->
    <div class="col-12 col-lg-6">
      <h2 class="mb-3">Experience</h2>
      <% @user.experiences.each do |experience|  %>
        <%= render "shared/card-experience", experience_within: experience %>
      <% end %>
    </div>
  </div>
  <hr>
  <!-- Portfolio -->
  <h2 class="mb-3">Portfolio</h2>
    <div id="gallery" data-toggle="modal" data-target="#portfolioModal">
      <!-- Portfolio Pictures -->
      <div data-target="#carouselExampleSlidesOnly" data-slide-to="0">
        <div class="row mb-5">
          <% if @user.portfolio_photos.attached?  %> <!-- user has uploaded a profile pic -->
              <% @user.portfolio_photos.each do |photo| %>
                <div class="col-12 col-lg-3 mb-3">
                  <%= cl_image_tag photo.key, :class => "photos-gallery clickable"%>
                </div>
              <% end %>
          <% else @user.id <= 39  %> <!-- user is seeded -->
            <% @user.seed_portfolio.each do |portfolio| %>
              <div class="col-12 col-lg-3 mb-3">
                <%= cl_image_tag(portfolio, :class => "photos-gallery clickable") %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- user didn't upload a profile picture, default logo shows up -->
    </div>
  <hr>

  <!-- model for portolio with carousel-->
  <%= render "shared/portfolioModal" %>

  <!-- Members -->
  <div class="row mb-5">
    <!-- Members Events -->
    <% unless @user.events.empty? %>
      <h2 class="col-12 col-lg-12 mb-3">My Events</h2>
      <div class="col-12 col-lg-12 mb-5">
        <div class="row">
          <% @user.events.each do |event|  %>
            <div class='col-12 col-lg-3 mb-3'>
              <%= link_to event_path(event) do %>
                <%= render "shared/card-event", event_within: event %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- Members Posts -->
    <% unless @user.posts.empty? %>
    <h2 class="col-12 col-lg-12 mb-3">My Posts</h2>
    <div class="col-12 col-lg-6">
      <ul class="list-group list-group-flush">
        <% @user.posts.each do |post|  %>
          <li class="list-group-item col-12">
            <%= link_to post_path(post) do %>
              <%= render "shared/card-post",  post_within: post %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
  <%#= link_to 'Edit Dashboard', edit_user_registration_path, :class => 'btn btn-outline-danger mb-3' %>
</div>
