<article class="card-list mb-3">
  <section class="card-infos">
    <header class="d-flex justify-content-between mb-2">
      <h3 class="corporate"><span class="red">·ban</span>job</h3>
    </header>
    <h2><%= experience_within.job_position %></h2>
    
    <section class="d-flex align-items-start">
      <% if experience_within.office.banner_url %>
        <%= cl_image_tag(experience_within.office.banner_url, :class => "avatar-square mr-2") %>      
      <% end %>
      <div>
        <% if experience_within.end_date > DateTime.now()   %>
          <p class="mb-1">Currently working @ <b><%= link_to "#{experience_within.office.name}", "/offices/#{experience_within.office.id}" %></b></p>
        <% else   %>
          <p class="mb-1">Worked @ <b><%= link_to "#{experience_within.office.name}", "/offices/#{experience_within.office.id}" %></b></p>
        <% end %>
        <p class="mb-0"><%= experience_within.start_date.strftime("%m.%Y") %> - <%= experience_within.end_date > DateTime.now() ? "present" : experience_within.end_date.strftime("%m.%Y") %></p>
      </div>
    </section>
  </section>
</article>