<article class="card-list mb-3">
  <section class="card-infos w-100">
    <header class="d-flex justify-content-between mb-2">
      <h3 class="corporate"><span class="red">·ban</span>job</h3>
      <h3 class="corporate red"><%= opening_within.date.strftime('%d.%m.%Y') %></h3>
    </header>
    <h2><%= opening_within.job_position %></h2>
    <div class="d-flex align-items-center">
      <% if opening_within.office_id %>
        <% if !opening_within.office.banner_url.blank? %>
          <%= cl_image_tag(opening_within.office.banner_url, :class => "avatar-square mr-2") %>
        <% elsif !opening_within.office_logo.blank? %>
          <%= cl_image_tag(opening_within.office_logo, :class => "avatar-square mr-2") %>
        <% else %>
          <%= cl_image_tag("logo/logo-sq-job", :class => "avatar-square mr-2") %>
        <% end %>
        <div>
          <p class="my-0">@ <%= opening_within.office.name %></p>
          <% if opening_within.job_site == "·ban" %>
            <p class="my-0">on <span class="corporate red"><%= opening_within.job_site %></span></p>
          <% else %>
            <p class="my-0">on <%= opening_within.job_site %></p>
          <% end %>
        </div>
      <% else %>
        <% if !opening_within.office_logo.blank? %>
           <%= cl_image_tag(opening_within.office_logo, :class => "avatar-square mr-2") %>
        <% else %>
          <%= cl_image_tag("logo/logo-sq-job", :class => "avatar-square mr-2") %>
        <% end %>
        <div>
          <p class="my-0">@ <%= opening_within.office_name %></p>
          <p class="my-0">on <%= opening_within.job_site %></p>
        </div>
      <% end %>
    </div>
  </section>
</article>
