<article class="card-list mb-3">
  <section class="card-infos w-100">
    <header class="d-flex justify-content-between">
      <h3 class="corporate"><span class="red">·ban</span>job</h3>
      <h3 class="corporate red"><%= job_within.date.strftime('%d.%m.%Y') %></h3>
    </header>
    <h2><%= job_within.title %></h2>
    <% if job_within.image_url %>
      <div class="d-flex align-items-center">
        <%= cl_image_tag(job_within.image_url, :class => "avatar-square mr-2") %>
        <div>
          <p class="my-0">@ <%= job_within.company %></p>
          <p class="my-0">on <%= job_within.site.capitalize %></p>
        </div>
      </div>
    <% else %>
      <div class="d-flex align-items-center">
        <%= cl_image_tag("logo/logo-sq-job", :class => "avatar-square mr-2") %>
        <div>
          <p class="my-0">@ <%= job_within.company %></p>
          <p class="my-0">on <%= job_within.site.capitalize %></p>
        </div>
      </div>
    <% end %>
  </section>
</article>
