    <div class="card-post">
      	<% if @user.photo.attached?  %> <!-- user has uploaded a profile pic -->
          <%=   cl_image_tag(@user.photo.key, :class => 'avatar-large')  %>
        <% elsif @user.id <= 30  %> <!-- user is seeded -->
          <%=   cl_image_tag(@user.cl_img_tag, :class => 'avatar-large') %>
        <% else  %> <!-- user didn't upload a profile picture, default logo shows up -->
          <%=   cl_image_tag("logo/logo1", :class => 'avatar-large') %>
        <% end %>
      <div class="card-post-infos">
        <div>
          <h2><%=post_within.title %></h2>
          <p>Posted: <%= post_within.date.strftime("%d.%m.%Y") %></p>
          <p>By: <%= @user.first_name %> <%= @user.last_name %></p>
        </div>
      </div>
    </div>
