<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-ban">
  <%= link_to root_path, class: "" do %>
    <%= cl_image_tag("logo/logo1", :class => 'avatar') %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- ***************  COLLAPSE  **************** -->
  <section class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <!-- ***************  MAIN MENU  **************** -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "Events", events_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Offices", offices_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Jobs", openings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Blog", posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Community", users_path, class: "nav-link" %>
      </li>
    </ul>

    <!-- ***************  USER MENU  **************** -->
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% elsif current_user.cl_img_tag %>
            <%= cl_image_tag current_user.cl_img_tag, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= cl_image_tag "logo/logo1-gray", gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Create event", new_event_path, class: "dropdown-item" %>
            <%= link_to "Create post", new_post_path, class: "dropdown-item" %>
            <%# if user received messages is not empty, link_to the last received message %>
            <% if !current_user.chatrooms_as_user_two.empty? %>
              <%= link_to "Messages", chatroom_path(current_user.chatrooms_as_user_two.last.id), class: "dropdown-item" %>
              <%# elsif user created messages is not empty, link_to the last sent message %>
            <% elsif !current_user.chatrooms_as_user_one.empty? %>
              <%= link_to "Messages", chatroom_path(current_user.chatrooms_as_user_one.last.id), class: "dropdown-item" %>
            <% else %>
              <%= link_to "Messages", chatrooms_path, class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link pl-0" %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>
