<div class="navbar-ban">

  <%= link_to "#", do %>
    <%= cl_image_tag("logo/logo1", :class => 'avatar') %>
	<% end %>

	<ul>
		<li><%= link_to 'Events', events_path %></li>
		<li><%= link_to 'News', posts_path %></li>
		<li><%= link_to 'Offices', offices_path %></li>
		<li><%= link_to 'Jobs', openings_path %></li>
	</ul>

	<%= cl_image_tag("users/avatar1", gravity: :face, :class => 'avatar') %>

</div>