<div class="container min-vh-100">
  <div class="row my-5" id="new-event-card">
    <div class="col-md-12">
      <h1 class = "mb-4 text-center">Edit event</h1>
      <%= simple_form_for(@event, remote: true) do |f| %>
        <div class="row">
          <div class="col-md-8">
            <%= f.input :title, as: :string  %>
          </div>
          <div class="col-md-4">
            <%= f.input :venue, as: :string, required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <%= f.rich_text_area :description, style: "min-height: 350px;", required: true %>
          </div>
          <div class="col-md-4 mt-2">
            <%= f.input :location, as: :string %>
            <%= f.input :online, as: :boolean, boolean_style: :inline, label:"Online Event" %>
            <%= f.input :online_link, as: :string, label: "Link", required: true %>
            <%= f.input :date, as: :string %>
            <%= f.input :start_time, as: :string %>
            <%= f.input :end_time, as: :string %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mt-3">
            <%= f.input :cover_photo, as: :file, required: true, label: 'Main Photo:' %>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-md-8">
            <%= f.input :event_photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="col-md-4">
            <%= f.button :submit, class: 'btn btn-message mb-3', style: 'width: -webkit-fill-available; height: 50px; margin: 0;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  flatpickr("#event_date", {
    enableTime: true,
    enableTime: false,
    dateFormat: "d.m.Y",
    minDate: "today",
    allowInput: true,
  });
  flatpickr("#event_start_time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
    allowInput: true,
  });
  flatpickr("#event_end_time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
    allowInput: true,
  });
  var placesAutocomplete = places({
    appId: 'pl8XQR7LGT3A',
    apiKey: '97cf4ef438588fd18d8ebb1f470b59bb',
    container: document.querySelector('#event_location'),
    templates: {
    value: function(suggestion) {
    return `${suggestion.name}, ${suggestion.postcode}, ${suggestion.city}`;
  }
  }
  }).configure({
  type: 'address'
  });
  // dependig on the current state of event
  if(document.getElementById("event_online").checked) {
    document.getElementById("event_location").disabled = true;
    document.getElementById("event_venue").disabled = true;
    document.querySelector('.event_online_link').style.display = "block";
  } else {
    document.getElementById("event_location").disabled = false;
    document.getElementById("event_venue").disabled = false;
    document.querySelector('.event_online_link').style.display = "none";
  } 
  // on click of event online checkbox
  document.getElementById("event_online").addEventListener("click", (event) => {
    if(document.getElementById("event_online").checked) {
      document.getElementById("event_location").disabled = true;
      document.getElementById("event_location").value = "";
      document.getElementById("event_venue").disabled = true;
      document.getElementById("event_venue").value = "";
      document.querySelector('.event_online_link').style.display = "block";
    } else {
      document.getElementById("event_location").disabled = false;
      document.getElementById("event_venue").disabled = false;
      document.querySelector('.event_online_link').style.display = "none";
    }     
  });
</script>
