<main class="container min-vh-100">
  <!-- ***************  EVENT EDIT FORM  **************** -->
  <section class="row my-5 form-card">
    <!-- ***************  FORM ENTRIES  **************** -->
    <section class="col-12 form-infos">
      <h1 class="corporate text-center"><span class="red">·ban</span>event edit·</h1>
      <%= simple_form_for(@event, remote: true) do |f| %>
        <div class="row">
          <div class="col-lg-8"> <!-- TITLE -->
            <%= f.input :title, as: :string %>
          </div>
          <div class="col-lg-4"> <!-- FORMAT -->
            <%= f.input :format, collection: $format %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8"> <!-- DESCRIPTION -->
            <%= f.rich_text_area :description, style: "min-height: 475px;" %>
          </div>
          <div class="col-lg-4 mt-2"> <!-- START TIME / END TIME / ONLINE / LINK / LOCATION / VENUE  -->
            <%= f.input :online, as: :boolean, boolean_style: :inline, label:"Online Event" %>
            <%= f.input :location, as: :string %>
            <%= f.input :venue, as: :string %>
            <%= f.input :online_link, as: :string, label: "Link" %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker"} %>
            <%= f.input :start_time, as: :string, input_html: { class: "timepicker"} %>
            <%= f.input :end_time, as: :string, input_html: { class: "timepicker"} %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8"> <!-- COVER PHOTO -->
            <%= f.input :cover_photo, 
                        as: :file, 
                        label_html: { class: "label-cover" },
                        label: true %>
          </div>
          <div class="col-lg-4"> <!-- SUBMIT -->
            <%= f.button :submit, class: 'btn btn-call w-100 mb-3' %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8"> <!-- PHOTOS -->
            <%= f.input :event_photos, 
                        as: :file, 
                        input_html: { multiple: true },
                        label_html: { class: "label-photos" },
                        label: true %>
          </div>
          <div class="col-lg-4"> <!-- DELETE-->            
            <%= link_to "Delete event", event_path(@event), data: { confirm: "Are you sure that you want do delete your event?" }, method: :delete, :class => 'btn btn-delete w-100' %>
          </div>  
        </div>
      <% end %>
    </section>
  </section>
</main>

