<div class="container min-vh-100">
  <div class="row my-5 form-card">
    <div class="col-12 form-infos">
      <!-- Title -->
      <h1 class="corporate text-center"><span class="red">·ban</span>event new·</h1>
      <%= simple_form_for(@event, remote: true) do |f| %>
        <div class="row">
          <!-- Title -->
          <div class="col-lg-8">
            <%= f.input :title, as: :string, required: true %>
          </div>
          <!-- Format -->
          <div class="col-lg-4">
            <%= f.input :format, collection: $format, required: true %>
          </div>
        </div>
        <div class="row">
          <!-- Text -->
          <div class="col-lg-8">
            <%= f.rich_text_area :description, style: "min-height: 475px;", required: true %>
          </div>
          <div class="col-lg-4 mt-2">
            <%= f.input :online, as: :boolean, boolean_style: :inline, label:"Online Event" %>
            <%= f.input :location, as: :string, required: true %>
            <%= f.input :venue, as: :string, required: true  %>
            <%= f.input :online_link, as: :string, label: "Link", required: true %>
            <%= f.input :date, as: :string %>
            <%= f.input :start_time, as: :string %>
            <%= f.input :end_time, as: :string %>
          </div>
        </div>
        <div class="row">
          <!-- Cover photo -->
          <div class="col-lg-4">
            <%= f.input :cover_photo, 
                        as: :file, 
                        label: true %>
          </div>
          <!-- Photos -->
          <div class="col-lg-4">
            <%= f.input :event_photos, 
                        as: :file, 
                        input_html: { multiple: true },
                        label: true %>
          </div>
          <!-- Submit -->
          <div class="col-lg-4">
            <%= f.button :submit, class: 'btn btn-call w-100' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  // Flatpickr parameters
  flatpickr("#event_date", {
    enableTime: true,
    enableTime: false,
    dateFormat: "d.m.Y",
    minDate: "today",
    allowInput: true,
  });
  flatpickr("#event_start_time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
    allowInput: true,
    defaultDate: "19:00"
  });
  flatpickr("#event_end_time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
    allowInput: true,
    defaultDate: "20:00"
  });
  var placesAutocomplete = places({
    appId: 'pl8XQR7LGT3A',
    apiKey: '97cf4ef438588fd18d8ebb1f470b59bb',
    container: document.querySelector('#event_location'),
    templates: {
    value: function(suggestion) {
    return `${suggestion.name}, ${suggestion.postcode}, ${suggestion.city}`;
  }
  }
  }).configure({
  type: 'address'
  });
  // Choose between an online or presencial event
  // default state
  onlineEvent = document.querySelector("#event_online");

  if(onlineEvent.checked) {
    document.querySelector(".event_location").style.display = "none";
    document.querySelector(".event_venue").style.display = "none";
    document.querySelector(".event_online_link").style.display = "block";
    document.querySelector("#event_location").value = "";
    document.querySelector("#event_venue").value = "";
  } else {
    document.querySelector(".event_location").style.display = "block";
    document.querySelector(".event_venue").style.display = "block";
    document.querySelector(".event_online_link").style.display = "none";
  } 
  // on click of event online checkbox
  onlineEvent.addEventListener("click", (event) => {
    if(onlineEvent.checked) {
      document.querySelector(".event_location").style.display = "none";
      document.querySelector(".event_venue").style.display = "none";
      document.querySelector(".event_online_link").style.display = "block";
      document.querySelector("#event_location").value = "";
      document.querySelector("#event_venue").value = "";
      document.querySelector("#event_online_link").value = "";
    } else {
      document.querySelector(".event_location").style.display = "block";
      document.querySelector(".event_venue").style.display = "block";
      document.querySelector(".event_online_link").style.display = "none";
    }     
  });
  // Upload Buttons
  // Cover photo
  inputCover = document.querySelector("#event_cover_photo");
  inputCover.style.display = "none";

  labelCover = document.querySelector(".event_cover_photo").querySelector("label");
  labelCover.innerHTML = "<i class='fas fa-image fa-lg mr-2'></i>Upload cover photo";
  
  labelCover.classList.add("btn", "btn-upload", "w-100", "mb-3", "mb-lg-0");
  // Event photos
  inputPhotos = document.querySelector("#event_event_photos");
  inputPhotos.style.display = "none";
  
  labelPhotos = document.querySelector(".event_event_photos").querySelector("label");
  labelPhotos.innerHTML = "<i class='fas fa-images fa-lg mr-2'></i>Upload more photos";
  
  labelPhotos.classList.add("btn", "btn-upload", "w-100", "mb-3", "mb-lg-0");
  // Function handleFiles()  
  inputCover.addEventListener("change", handleFiles, false); 
  inputPhotos.addEventListener("change", handleFiles, false); 

  function handleFiles() {
    if(inputCover.files.length === 0) {
      labelCover.innerHTML = "<i class='fas fa-image fa-lg mr-2'></i>Upload cover photo";
    } else {
      labelCover.innerHTML = `<i class='fas fa-image fa-lg mr-2'></i>${inputCover.files[0]["name"]}`;
    }
    if(inputPhotos.files.length === 0) {
      labelPhotos.innerHTML = "<i class='fas fa-images fa-lg mr-2'></i>Upload more photos";
    } else {
      labelPhotos.innerHTML = `<i class='fas fa-images fa-lg mr-2'></i>${inputPhotos.files.length} photos selected;`;
    }
  };
</script>
