<main class="container min-vh-100">
  <!-- ***************  EVENT NEW FORM  **************** -->
  <section class="row my-5 form-card">
    <!-- ***************  FORM ENTRIES  **************** -->
    <section class="col-12 form-infos">
      <h1 class="corporate text-center"><span class="red">·ban</span>event new·</h1>
      <%= simple_form_for(@event, remote: true) do |f| %>
        <div class="row">
          <div class="col-lg-8"> <!-- TITLE -->
            <%= f.input :title, as: :string, required: true %>
          </div>
          <div class="col-lg-4"> <!-- FORMAT -->
            <%= f.input :format, collection: $format, required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8"> <!-- DESCRIPTION -->
            <%= f.rich_text_area :description, style: "min-height: 475px;", required: true %>
          </div>
          <div class="col-lg-4 mt-2"> <!-- START TIME / END TIME / ONLINE / LINK / LOCATION / VENUE  -->
            <%= f.input :start_date, as: :string, input_html: { class: "datetimepicker"}, required: true %>
            <%= f.input :end_date, as: :string, input_html: { class: "datetimepicker"} %>
            <%= f.input :online, as: :boolean, boolean_style: :inline, label:"Online Event" %>
            <%= f.input :online_link, as: :string, label: "Link", required: true %>
            <%= f.input :location, as: :string, input_html: { class: "locationpicker"}, required: true %>
            <%= f.input :venue, as: :string %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4"> <!-- COVER PHOTO -->
            <%= f.input :cover_photo,
                        as: :file,
                        label_html: { class: "label-cover" },
                        label: true %>
          </div>
          <div class="col-lg-4"> <!-- PHOTOS -->
            <%= f.input :event_photos,
                        as: :file,
                        input_html: { multiple: true },
                        label_html: { class: "label-photos" },
                        label: true %>
          </div>
          <div class="col-lg-4"> <!-- SUBMIT -->
            <%= f.button :submit, class: 'btn btn-call w-100' %>
          </div>
        </div>
      <% end %>
    </section>
  </section>
</main>

