
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@event.cl_img_tag)%>);">
	<div class="container">
		<h1><%= @event.title%></h1>
		<p>Exchange knowledge</p>
            <% if policy(Rsvp).create? %>
                <%= form_tag event_rsvps_path(@event), method: :post do %>
                    <%= submit_tag "Attend", class: "btn btn-primary" %>
                <% end %>
            <% end %>
	</div>
</div>

    <div class = 'container'>
        <h3><%= @event.title %></h3>
    </div>

    <div class = 'container p-3 my-3'>  
        <div class="row">       
            <div class="col-12 col-lg-3">
                <p class="heading-flat">About </p>
            </div>
                <div class = 'col-12 col-lg-9'>
                    <p>Description: <%= @event.description %></p>
                </div>
            </div>
        </div>
    </div>  

    <div class = 'container p-3 my-3'>
        <div class="row">
            <div class="col-12 col-lg-3">
                <p class="heading-flat">Location </p>
            </div>
            <div class = 'col-12 col-lg-9'>
                <p> <%= @event.date_time %></p>
                <p><%= @event.location %></p>
            </div>
        </div>
    </div>


    <div class = 'container p-3 my-3'>
        <div class="row">
        <div class="col-12 col-lg-3">
        </div>
        <div class = 'col-12 col-lg-9'>
            <div id="map"
                style="width: 100%; height: 600px;"
                data-markers="<%= @marker.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
        </div>
    </div>
    <div class = 'container p-3 my-3'>
    <div class="row">
        <div class="col-12 col-lg-3">
				<p class="heading-flat mb-3">Attending</p>
			</div>
			<div class = 'col-12 col-lg-9'>
				<div class="row mt-3">	
					<% @event.users.each do |user| %>
						<div class="col-3 text-center">
							<%= link_to user_path(user) do %>
								<%= cl_image_tag(user.cl_img_tag, :class => 'avatar-large mb-3') %>
							<% end %>
								<p><%= user.first_name %> <%= user.last_name %></p>
						</div>
					<% end %>
				</div>
			</div>
        </div>
    </div>
            
    <div class = 'container p-3 my-3'>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <p class="heading-flat">Organizer </p>
                </div>
                    <div class = 'col-12 col-lg-9'>
                        <%= @event.user.first_name %>, <%= @event.user.last_name %></p></h1>
                    </div>
            </div>
    </div>


  <div class = 'container p-3 my-3'>
    <div class="row">
            <div class="col-12 col-lg-3">
                <p class="heading-flat">Photos </p>
            </div>
            <div class = 'col-12 col-lg-9'>
                <%= cl_image_tag @event.cl_img_tag, :class => 'photos-events' %>
            </div>
    </div>
  </div>
    <div class = 'container p-3 my-3'>
        <div class="row">
          <div class="col-12 col-lg-3">
          </div>
             <div class="col-12 col-lg-2">
                <% if policy(Rsvp).create? %>
                    <%= form_tag event_rsvps_path(@event), method: :post do %>
                        <%= submit_tag "Attend", class: "btn btn-primary" %>
                    <% end %>
                <% end %>
            </div>
            <div class="col-12 col-lg-2">
                    <%= link_to 'Back to all events', events_path, class: 'btn btn-primary' %>
            </div>          
        </div>
    </div> 

  <div class = 'container p-3 my-3'>
        <div class="row">
            <div class="col-12 col-lg-3">
                <p class="heading-flat">Comments </p>
            </div>
            <div class = 'col-12 col-lg-9'>
                <% @event.comments.each do |comment| %>
                 <div class="card-comment">
                      <%= cl_image_tag(comment.user.cl_img_tag, :class => 'avatar-large') %>
                    <div class="card-comment-infos">
                    <p>Time: <%= comment.date %> </p>  
                     <p><%= comment.content %></p> 
                      <p> User: <%= comment.user.first_name %> <%= comment.user.last_name %></p>
                </div>
                </div>
                <% end %>
            </div>
            </div>
        </div>
     </div>
    </div>


    <div class = 'container p-3 my-3'>
      <div class="row">
            <div class = 'col-12 col-lg-3'>
            </div>
            <div class = 'col-12 col-lg-9'>
                <% if user_signed_in? %>
                    <%= simple_form_for ([@event, @comment]) do |f| %>
                        <div class="form-inputs justify-content-center">
                            <%= f.input :content %>          
                            <%= f.button :submit, class: 'btn btn-primary' %>
                    </div>
                        <% end %>
                <% end %>
            </div>
      </div>
    </div>



    <div class = 'container p-3 my-3'>
        <div class="row">
            <div class = 'col-12 col-lg-3'>
            </div>

            <div class = 'col-12 col-lg-3'>
                <% if policy(@event).edit? %>
                    <%= link_to "Update", edit_event_path(@event), class: 'btn btn-primary' %>
                <% end %>
            </div>  
            <div class = 'col-12 col-lg-3'> 
                <% if policy(@event).destroy? %>
                    <%= link_to "Destroy", event_path(@event), class: 'btn btn-primary' %>
                <% end %>
            </div> 
        </div> 
    </div>