<div class= "container">
    <div class="row justify-content-around align-items-end mt-5 mb-3">
        <div class="col-12 col-lg-10">
            <h1 class="font-weight-bold"><%= @event.title%></h1>
            <div class="d-flex align-items-center">
                <%= link_to cl_image_tag(@event.user.cl_img_tag, :class => 'avatar mb-3'), user_path(@event.user)  %>
                <p class="pl-3">Hosted by: <%= @event.user.first_name %> <%= @event.user.last_name %></p>
            </div>
        </div>
        <!-- RSVP btn -->
        <div class="col-12 col-lg-2 align-bottom">
            <% if user_signed_in? %>
                <% unless @user_attending %>
                    <%= render "shared/exampleModal" %>
                    <button type="button" class="btn btn-attend" data-toggle="modal" data-target="#exampleModal">
                        Attend
                    </button>
                <% else%>
                    <%= render "shared/deleteModal" %>
                    <button type="button" class="btn btn-call btn-delete" data-toggle="modal" data-target="#deleteModal">
                        Unattend
                    </button>
                <% end %>
            <% end %>
        </div>
    </div>

    <hr>
    <!-- Photo and Map -->
    <div class = 'row my-5 justify-content-around'>
        <!-- Photo -->
        <div class="col-12 col-lg-8">
          <% if @event.cover_photo.attached? %>
            <%= link_to cl_image_tag(@event.cover_photo.key, :style => "width: 100%; height: 400px; object-fit: cover;") %>
          <% else %>
            <%= cl_image_tag(@event.cl_img_tag, :style => "width: 100%; height: 400px; object-fit: cover;")%>
            <% end %>
        </div>
        <!-- Map -->
        <div class="col-12 col-lg-4">
            <div class = 'marker' id="map"
                style="width: 100%; height: 100%;"
                data-markers="<%= @marker.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
    </div>
    <!-- About -->
    <div class = 'row mb-5'>
        <!-- Description -->
        <div class="col-12 col-lg-8">
            <h2 class="mb-3">About </h2>
            <p><%= @event.description %></p>
        </div>
        <!-- Map -->
        <div class="col-12 col-lg-4">
            <h2 class="mb-3">Details </h2>
            <p><i class="fas fa-clock" style="color: gray"></i> <%= @event.date %></p>
            <p><i class="fas fa-building" style="color: #90be6d"></i> <%= @event.venue %></p>
            <p><i class="fas fa-map-marker-alt" style="color: #E53E3E"></i> <%= @event.location %></p>
        </div>
    </div>

    <hr>
    <!-- Photos -->
        <h2 class="mb-3">Photos</h2>
            <div id="gallery" data-toggle="modal" data-target="#photoModal">
                <div class="row mb-5">
                 <% if @event.event_photos.attached?  %>
                    <% @event.event_photos.each do |photo| %>
                    <div class ='col-3' data-target="#carouselExample" data-slide-to="0">
                      <%= cl_image_tag photo.key, :class => 'photos-events w-100' %>
                    </div>
                    <% end %>
                  <% else %>
                    <div class ='col-3' data-target="#carouselExample" data-slide-to="0">
                        <%= cl_image_tag @event.cl_img_tag, :class => 'photos-events w-100' %>
                    </div>
                    <div class ='col-3' data-target="#carouselExample" data-slide-to="1">
                        <%= image_tag "https://res.cloudinary.com/db5jh0zwo/image/upload/v1598972065/event-gallery/omar-lopez-1qfy-jDc_jo-unsplash_ky8ivn.jpg", :class => 'photos-events w-100', alt: "alttext" %>
                    </div>
                    <div class = 'col-3' data-target="#carouselExample" data-slide-to="2">
                        <%= image_tag "https://res.cloudinary.com/db5jh0zwo/image/upload/v1598972076/event-gallery/anastasia-dulgier-bkzjNDPQ3Hg-unsplash_nqx2ms.jpg", :class => 'photos-events w-100', alt: "alttext" %>
                    </div>
                  <% end %>
                </div>
            </div>
    <hr>

<!-- model for photos with carousel-->

 <%= render "shared/photoModal" %>


    <!-- Members and Comments -->
    <div class="row mb-5">
		<!-- Members -->
        <div class='col-12 col-lg-6' id = "attending">
            <h2>Attending <span class="badge-number"><%= @event.users.length %></span></h2>
            <div class="row mt-3">
                <% @event.users.each do |user| %>
                    <div class="col-3 text-center m-3">
                        <%= link_to user_path(user) do %>
                            <% if user.photo.attached? %>
                                <%= cl_image_tag(user.photo.key, gravity: :face, :class => 'avatar-large mb-3') %>
                            <% else %>
                                <%= cl_image_tag(user.cl_img_tag, gravity: :face, :class => 'avatar-large mb-3') %>
                            <% end %>
                        <% end %>
                        <p><%= user.first_name %> <%= user.last_name %></p>
                    </div>
                <% end %>
            </div>
            <!-- RSVP btn -->
            <% if user_signed_in? %>
                <% unless @user_attending %>
                    <%= render "shared/exampleModal" %>
                    <button type="button" class="btn btn-call btn-attend-bottom mb-5" data-toggle="modal" data-target="#exampleModal">
                        Attend
                    </button>
                <% else%>
                    <%= render "shared/deleteModal" %>
                    <button type="button" class="btn btn-call mb-5" data-toggle="modal" data-target="#deleteModal">
                        Unattend
                    </button>
                <% end %>
            <% end %>
        </div>
		<!-- Comments -->
        <div class = 'col-12 col-lg-6 mb-5'>
            <h2 class="mb-3">Comments <span class="badge-number"><%= @event.comments.length %></span></h2>
            <!-- Comments past-->
            <% @event.comments.each do |comment| %>
                <div class="card-comment mb-3 p-10" id="comment-<%= comment.id %>">
                    <% if comment.user.photo.attached? %>
                        <%= cl_image_tag(comment.user.photo.key, :class => "avatar-large") %>
                    <% else %>
                        <%= cl_image_tag(comment.user.cl_img_tag, :class => 'avatar-large') %>
                    <% end %>
                    <div class="card-comment-infos">
                        <h6><%= comment.content %></h6>
                        <p>Time: <%= comment.date.strftime("%H:%M %d.%m.%Y") %> </p>
                        <p>Posted by: <%= comment.user.first_name %> <%= comment.user.last_name %></p>
                    </div>
                </div>
            <% end %>
            <!-- Comments past-->
            <% if user_signed_in? %>
                <div class = "form" id= "comment-form">
                    <%= form_tag event_event_comment_path(@event, url: (event_path([@event], anchor:'comments'))), method: :post do |f| %>
                        <%= text_field_tag :content %>
                        <%= submit_tag 'Post', class: 'btn btn-flat' %>
                    <% end %>
                </div>
                <% if flash[:validation]%>
                    <div>
                        <%= flash[:validation] %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
