<!-- Banner -->
<!-- <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/db5jh0zwo/image/upload/v1598357124/banners/banner4.jpg');"> -->
<div style="background-color: black; height: 465px;">
<%= render "shared/video_banner" %>
	<div class="container">
		<h1 style = "top: 185px; position: absolute; font-weight: bold; color:white; text-shadow: 2px 2px 5px black;">BAN - Berlin Architectural Network</h1>
		<p style = "top: 235px; position: absolute; color:white; text-shadow: 2px 2px 5px black;">Get into berlin's architecture scene.</p>
		<% unless user_signed_in? %>
			<%= link_to 'Join', new_user_registration_path, :class => "btn btn-call", :style => "top: 267px; position: absolute;" %>
		<% end %>
	</div>
</div>


<div class="container">
	<!-- Events -->
	<div class="row my-5">
		<!-- Event Infos -->
		<h2 class="col-12 col-lg-3">Events</h2>
		<!-- Event Cards -->
		<div class="col-9 d-flex justify-content-between px-0">
			<% @events.each do |event| %>
				<%= link_to event_path(event) do %>
						<%= render "shared/card-event", event_within: event %>
				<% end %>
			<% end %>
		</div>
		<h2 class="col-12 col-lg-3"></h2>
		<div class="col-9 px-0 ">
			<%= link_to events_path, :class => "custom-btn btn-4 mt-5 text-center font-weight-bold" do %>
				<span>Check out the latest events!</span>
			<% end %>
		</div>
	</div>
	<hr>
	<!-- Offices -->
	<div class="row my-5">
		<!-- Office Infos -->
		<h2 class="col-12 col-lg-3">Offices</h2>
		<!-- Office Cards -->
		<div class="col-12 col-lg-9 px-0">
			<% @offices.each do |office| %>
				<%= link_to office_path(office) do %>
					<%= render "shared/card-office", office_within: office %>
				<% end %>
			<% end %>
		</div>
		<h2 class="col-12 col-lg-3"></h2>
		<div class="col-9 px-0">
			<%= link_to offices_path, :class => "custom-btn btn-4 mt-5 text-center font-weight-bold" do %>
				<span>Check out the best rated offices!</span>
			<% end %>
		</div>
	</div>
	<hr>
	<!-- Openings -->
	<div class="row my-5">
		<!-- Openings Infos -->
		<h2 class="col-12 col-lg-3">Jobs</h2>
		<!-- Openings Cards -->
		<div class="col-12 col-lg-9 white-board">
			<ul class="list-group list-group-flush">
				<% @openings.each do |opening| %>
					<li class="list-group-item">
						<%= link_to opening_path(opening) do %>
							<%= render "shared/card-opening", opening_within: opening %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
		<h2 class="col-12 col-lg-3"></h2>
		<div class="col-9 text-right px-0">
			<%= link_to openings_path, :class => "custom-btn btn-4 mt-5 text-center font-weight-bold" do %>
				<span>Check out the latest job openings!</span>
			<% end %>
		</div>
	</div>
	<hr>
	<!-- Blog -->
	<div class="row my-5">
		<h2 class="col-12 col-lg-3">Blog</h2>
		<div class="col-12 col-lg-9 white-board">
			<ul class="list-group list-group-flush">
				<% @posts.each do |post| %>
				<li class="list-group-item">
					<%= link_to post_path(post) do %>
							<%= render "shared/card-post", post_within: post %>
						<% end %>
					<% end %>
				</li>
			</ul>
		</div>
		<h2 class="col-12 col-lg-3"></h2>
		<div class="col-9 text-right px-0">
			<%= link_to posts_path, :class => "custom-btn btn-4 mt-5 text-center font-weight-bold" do %>
				<span>Check out the latest blog posts!</span>
			<% end %>
		</div>
	</div>


</div>

