<!-- Banner -->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/db5jh0zwo/image/upload/v1598357124/banners/banner4.jpg');">
	<div class="container">
		<h1>BAN - Berlin Architectural Network</h1>
		<p>Exchange knowledge</p>
		<%= link_to 'Join', '#', :class => "btn btn-call" %>
	</div>
</div>

<div class="container">
<!-- Events -->
	<div>
		<div class="row">
			<div class="col-3">
				<%= link_to 'Events', events_path, :class => "btn btn-flat mb-3" %>
				<p>Check out the latest events!</p>
			</div>
			<%= render "shared/card-event" %>
		</div>		
	</div>

<!-- Offices -->
	<div class="mb-5">
		<div class="row">
			<div class="col-3">
				<%= link_to 'Offices', offices_path, :class => "btn btn-flat mb-3" %>
				<p>Check out the best rated offices!</p>
			</div>
			<div class="col-9 px-0">
				<%= render "shared/card-office" %>
			</div>
		</div>		
	</div>

<!-- Openings -->

	<div class="mb-5">
		<div class="row">
			<div class="col-3">
				<%= link_to 'Jobs', openings_path, :class => "btn btn-flat mb-3" %>
				<p>Check out the latest jobs!</p>
			</div>
			<div class="col-9 white-board px-3 py-3">
				<%= render "shared/card-opening" %>
			</div>
		</div>		
	</div>

<!-- Blog -->
	<div class="mb-5">
		<div class="row">
			<div class="col-3">
				<%= link_to 'Blog', posts_path, :class => "btn btn-flat mb-3" %>
				<p>Check out the latest posts!</p>
			</div>
			<div class="col-9 white-board">
				<%= render "shared/card-post" %>
			</div>
		</div>
	</div>

</div>