<!-- ***************  HEADER HOMEPAGE  **************** -->
<header class="banner">
		<div class="banner-overlay"></div>
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="https://res.cloudinary.com/db5jh0zwo/video/upload/v1599042195/ezgif.com-gif-maker_am5cdf.mp4" type="video/mp4">
		</video>
		<div class="banner-container h-100">
			<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white">
					<h1 class="display-4 font-weight-bold">BAN - Berlin Architectural Network</h1>
					<p class="lead mb-3">Get into Berlin's architecture scene.</p>
					<% unless user_signed_in? %>
						<%= link_to 'Join', new_user_registration_path, :class => "btn btn-call"%>
					<% end %>
				</div>
			</div>
		</div>
</header>

<main class="container">
	<!-- ***************  EVENTS  **************** -->
	<section class="my-5">
		<header class="text-center">
			<h2 class="font-weight-bold">Events</h2>
			<p class="link mb-5"><%= link_to "Check out the latest events >", events_path %></p>
		</header>
		<!-- ***************  EVENT CARDS  **************** -->
		<section class="row justify-content-between">
			<% @events.each do |event| %>
				<div class="col-md-6 col-lg-3 mb-3">
					<%= link_to event_path(event) do %>
							<%= render "shared/card-event", event_within: event %>
					<% end %>
				</div>
			<% end %>
		</section>
	</section>
	<hr>


	<!-- ***************  OFFICES / OPENINGS  **************** -->
	<section class="row my-5">
		<!-- ***************  OFFICES  **************** -->
		<section class="col-lg-6">
			<header class="text-center">
				<h2 class="font-weight-bold">Offices</h2>
				<p class="link mb-5"><%= link_to "Check out the best rated offices >", offices_path %></p>
			</header>
			<!-- ***************  OFFICE CARDS  **************** -->
			<section class="row">
				<div class="col-12">
					<% @offices.each do |office| %>
							<%= link_to office_path(office) do %>
								<%= render "shared/card-office", office_within: office %>
							<% end %>
					<% end %>
				</div>
			</section>
		</section>

		<!-- ***************  OPENINGS  **************** -->
		<section class="col-lg-6">
			<header class="text-center">
				<h2 class="font-weight-bold">Jobs</h2>
				<p class="link mb-5"><%= link_to "Check out the latest job openings >", openings_path %></p>
			</header>
			<!-- ***************  OPENING CARDS  **************** -->
			<section class="row">
				<div class="col-12">
					<% @openings.each do |opening| %>
							<%= link_to opening_path(opening) do %>
								<%= render "shared/card-opening", opening_within: opening %>
							<% end %>
					<% end %>
				</div>
			</section>
		</section>

	</section>
	<hr>

	<!-- ***************  POSTS  **************** -->
	<section class="my-5">
		<header class="text-center">
			<h2 class="font-weight-bold">Blog</h2>
			<p class="link mb-5"><%= link_to "Check out the latest blog posts >", posts_path %></p>
		</header>
		<section class="row justify-content-between">
			<% @posts.each do |post| %>
				<div class="col-md-6 col-lg-3 mb-3">
					<%= link_to post_path(post) do %>
						<%= render "shared/card-post", post_within: post %>
					<% end %>
				</div>
			<% end %>
		</section>
	</section>
</main>
