<!-- Banner -->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/db5jh0zwo/image/upload/v1598357124/banners/banner4.jpg');">
	<div class="container">
		<h1>BAN - Berlin Architectural Network</h1>
		<p>Get into berlin's architecture scene.</p>
		<% unless user_signed_in? %>
			<%= link_to 'Join', new_user_registration_path, :class => "btn btn-call" %>
		<% end %>
	</div>
</div>

<div class="container">


	<!-- Events -->
	<div class="row my-5">
		<!-- Event Infos -->
		<div class="col-12 col-lg-3">
			<%= link_to events_path, :class => "custom-btn btn-4 mb-3 text-center font-weight-bold" do %>
				<span>Events</span>
			<% end %>
			<p>Check out the latest events!</p>
		</div>
		<!-- Event Cards -->
		<div class="col-9 d-flex justify-content-between px-0 mb-3">
			<% @events.each do |event| %>
				<%= link_to event_path(event) do %>
						<%= render "shared/card-event", event_within: event %>
				<% end %>
			<% end %>
		</div>
	</div>
	<hr>


	<!-- Offices -->
	<div class="row my-5">
		<!-- Office Infos -->
		<div class="col-12 col-lg-3">
			<%= link_to offices_path, :class => "custom-btn btn-4 mb-3 text-center font-weight-bold" do %>
				<span>Offices</span>
			<% end %>
			<p>Check out the best rated offices!</p>
		</div>
		<!-- Office Cards -->
		<div class="col-12 col-lg-9 px-0">
			<% @offices.each do |office| %>
				<%= link_to office_path(office) do %>
					<%= render "shared/card-office", office_within: office %>
				<% end %>
			<% end %>

		</div>
	</div>
	<hr>


	<!-- Openings -->
	<div class="row my-5">
		<!-- Openings Infos -->
		<div class="col-12 col-lg-3">
			<%= link_to openings_path, :class => "custom-btn btn-4 mb-3 text-center font-weight-bold" do %>
				<span>Jobs</span>
			<% end %>
			<p>Check out the latest jobs!</p>
		</div>
		<!-- Openings Cards -->
		<div class="col-12 col-lg-9 white-board">
			<% @openings.each do |opening| %>
				<%= link_to opening_path(opening) do %>
					<%= render "shared/card-opening", opening_within: opening %>
				<% end %>
			<% end %>

		</div>
	</div>
	<hr>
	
	<!-- Blog -->
	<div class="row my-5">
		<div class="col-12 col-lg-3">
			<%= link_to openings_path, :class => "custom-btn btn-4 mb-3 text-center font-weight-bold" do %>
				<span>Blog</span>
			<% end %>
			<p>Check out the latest posts!</p>
		</div>
		<div class="col-12 col-lg-9 white-board">
			<% @posts.each do |post| %>
  			<%= link_to post_path(post) do %>
					<%= render "shared/card-post", post_within: post %>
				<% end %>
			<% end %>
		</div>
	</div>


</div>		

