<div id="login-card" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div id="top-image" class="col-md-12 text-right">
          <h1 style="margin-top: 4px; font-size: 65px; margin-right: 10px;">·ban</h1>
          <img alt="logo" src="https://res.cloudinary.com/db5jh0zwo/image/upload/c_scale,w_100/v1/logo/logo1" class="rounded-circle" id="login-logo" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="login-form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
          <div class="row">
            <div class="col-md-12">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
               <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
             </div>
             <div class="col-md-6 text-right">
               <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                 <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
               <% end %>
             </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                  <%= f.button :submit, "Log in", :class => "btn btn-message mb-3", :style => "width: -webkit-fill-available; height: 50px; margin: 0;"%>
                </div>
              <% end %>
  <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
