<main class="container min-vh-100">
  <!-- ***************  POST NEW FORM  **************** -->
  <section class="row my-5 form-card">
    <!-- ***************  FORM ENTRIES  **************** -->
    <section class="col-12 form-infos">
      <h1 class="corporate text-center"><span class="red">·ban</span>post new·</h1>
      <%= simple_form_for(@post, remote: true) do |f| %>
        <%= f.input :title, as: :string %> <!-- TITLE -->
        <%= f.rich_text_area :content, style: "min-height: 300px;" %> <!-- CONTENT -->
        <div class="row align-items-end">
          <div class="col-lg-6"> <!-- TAGS -->
            <%= f.input :tag_list %>
          </div>
          <div class="col-lg-6 mb-3"> <!-- COVER PHOTO -->
            <%= f.input :photo, 
                        as: :file,
                        label_html: { class: "label-cover" },
                        label: true  %>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-12"> <!-- SUBMIT -->
            <%= f.button :submit, class: 'btn btn-call w-100' %>
          </div>
        </div>
      <% end %>
    </section>
  </section>
</main>

