<div class= "container min-vh-100">
  <!-- Header -->
  <div class="row mt-5 mb-3">
    <div class="col-12 col-lg-6">
      <h5 class="corporate"><span class="red">·ban</span>post</h5>
      <!-- Name and Date -->
      <h1><strong><%= @post.title%></strong></h1>
      <div class="d-flex align-items-center">
        <%= link_to cl_image_tag(@post.user.cl_img_tag, :class => 'avatar mb-3'), user_path(@post.user) %>
        <p class="pl-3">By <%= @post.user.first_name %> <%= @post.user.last_name %></p>
      </div>
      <!-- Edit  -->
      <% if user_signed_in? %>
        <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-call mb-3" if current_user.id == @post.user.id  %>
      <% end %>
    </div>
    <!-- Cover photo -->
    <div class="col-12 col-lg-6">
      <% if @post.photo.attached? %>
          <%= cl_image_tag(@post.photo.key, :class => "event-img mb-3") %>
      <% else %>
          <img src="https://source.unsplash.com/800x600/?architecture" class="event-img mb-3" alt="placeholder">
      <% end %>
    </div>
  </div>
  <hr>
  <!-- Tags and Date -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-9">
      <p><i class="fas fa-tags fa-lg mr-1"></i> <%= @post.tag_list %></p>
    </div>
    <div class="col-12 col-lg-3">
      <p><i class="fas fa-calendar-check fa-lg mr-1"></i> On the: <%= @post.date.strftime('%d. %B %Y') %></p>
    </div>
  </div>
  <!-- Content -->
  <div class = 'row mb-5 '>
    <div class="col-12 col-lg-9">
      <p class= "post"><%= @post.content %></p>
    </div>
  </div>
  <hr>
	<!-- Comments -->
  <div class = 'row my-5'>
    <div class = 'col-12 col-lg-6 mb-5'>
      <h2 class="mb-3">Comments <span class="badge-number"><%= @post.comments.length %></span></h2>
      <!-- Comments past -->
      <% @post.comments.each do |comment| %>
        <div class="card-comment mb-3 p-10" id="comment-<%= comment.id %>">
          <% if comment.user.photo.attached? %>
            <%= cl_image_tag(comment.user.photo.key, :class => "avatar-large") %>
          <% else %>
            <%= cl_image_tag(comment.user.cl_img_tag, :class => 'avatar-large') %>
          <% end %>
          <div class="card-comment-infos">
            <h6><%= comment.content %></h6>
            <p>Time: <%= comment.date.strftime("%H:%M %d.%m.%Y") %> </p>
            <p>Posted by: <%= comment.user.first_name %> <%= comment.user.last_name %></p>
          </div>
        </div>
      <% end %>
      <!-- Comments new -->
      <% if user_signed_in? %>
        <div class = "form" id= "comment-form">
            <%= form_tag post_post_comment_path(@post, url: (post_path([@post], anchor:'comments'))), method: :post do |f| %>
                <%= text_field_tag :content %>
                <%= submit_tag 'Post', class: 'btn btn-upload' %>
            <% end %>
        </div>
        <% if flash[:validation]%>
            <div>
                <%= flash[:validation] %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
