<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <%= favicon_link_tag(source = "favicon.png", options = {}) %>
    <!-- Meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Turbolinks -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <!-- ***************  NAVBAR  **************** -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- ***************  VIEWS  **************** -->
    <%= yield %>
    <!-- ***************  FOOTER  **************** -->
    <%= render 'shared/footer' unless @disabled_footer %>
  </body>
</html>
