<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="p-10">
      <%= render 'shared/navbar' %>
      <div class="bg-gray-100 border-l-4 border-gray-500 text-gray-700 p-4" role="alert">
        <p class="font-bold">Dear Visitors</p>
        <p>This website is currently under construction.</p>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
