<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Chatroom -->
    <%= stylesheet_link_tag "chatroom" if controller_name == "chatroom" %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <!-- Favicon -->
    <%= favicon_link_tag(source = "favicon.png", options = {}) %>
    <!-- Meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/2e7849f35e.js" crossorigin="anonymous"></script>
    <!-- Algolia -->
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0/dist/cdn/places.min.js"></script>
    <!-- Turbo -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- ImportMaps -->
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!-- ***************  NAVBAR  **************** -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- ***************  VIEWS  **************** -->
    <%= yield %>
    <!-- ***************  FOOTER  **************** -->
    <%= render 'shared/footer' unless @disabled_footer %>
  </body>
</html>
